# ignore everything by default
*

# selectively include things
!.gitignore
!.gitmodules
!readme.md
!.bashrc
!.inputrc
!scripts/
!scripts/**
!.emacs.d/
!.emacs.d/**

# re-ignore some things
.emacs.d/eln-cache/
