[alias]
	# these exist as scripts, but we can use them via `git churn` now too
	aliases = !"gitaliases"
	branches = !"gitrefsall"
	churn = !"gitchurn"
	diffs = !"gitdiffs"
	list-files = !"gitlistfiles"
	local-branches = !"gitrefs refs/heads"
	logs = !"gitlogs"
	logx = !"gitlogx"
	remote-branches = !"gitrefs refs/remotes"
	tags = !"gitrefs refs/tags"
	who = !"gitwho"

	# these are common or useful commands that can have simplified syntax
	amend = commit --amend
	contributors = shortlog -n -s -e
	default-branch = !"git symbolic-ref refs/remotes/origin/HEAD | cut -f4 -d/"
	directory = rev-parse --show-toplevel
	discard = checkout -p
	staging = add -p
	uncommit = reset --soft HEAD~
	unstage = restore --staged
	unstaging = restore --staged -p

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[push]
	autoSetupRemote = true

# for configurations like "user" that's personal
[include]
	path = .gitconfig-private
