# ignore everything by default
*

# selectively include things
!.gitignore
!.gitmodules
!readme.md
!.bashrc
!.inputrc
!scripts/
!scripts/**
!.emacs.d/
!.emacs.d/**

# re-ignore some things
.emacs.d/eln-cache/
.emacs.d/elpa/
.emacs.d/auto-save-list/
.emacs.d/transient/
