[alias]
	# these exist as scripts, but we can use them via `git logs` now too
	logs = !"gitlogs"
	logx = !"gitlogx"
	diffs = !"gitdiffs"
	who = !"gitwho"

	# these are common commands that by default have forgettable syntax
	unstage = restore --staged
	uncommit = reset --soft HEAD~
	amend = commit --amend
	contributors = shortlog -n -s -e
	discard = checkout -p

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[push]
	autoSetupRemote = true

# for configurations like "user" that's personal
[include]
	path = .gitconfig-private
